{% macro render_field(field) %}

<div class="form-floating mb-3">
    {{ field(**kwargs) | safe }}
    <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
    {% if field.errors %}
    <ul>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endmacro %}


{% macro render_radio_field(field) %}

{% for choiche in field %}
<div class="mb-3 form-check form-check-inline">
    {{ choiche }}
    <label class="form-check-label">
        {{ choiche.label }}
    </label>
</div>
{% endfor %}

{% endmacro %}


{% macro render_submit_button(field) %}

<div class="mb-5">
    {{ field }}
</div>

{% endmacro %}

{% macro render_file_field(field) %}

<div class="form-group mb-4">
    <label for="{{ field.id }}">PDF Files</label>
    <input type="file" class="form-control" id="{{ field.id }}" name="{{ field.name }}" accept=".pdf">
</div>

{% endmacro %}


{% macro render_multiple_file_field(field) %}

<div class="form-group mb-4">
    <label for="{{ field.id }}">PDF Files</label>
    <input type="file" class="form-control" id="{{ field.id }}" name="{{ field.name }}" accept=".pdf" multiple>
</div>

{% endmacro %}


{% macro render_newmultiple_file_field(field) %}

<div class="form-group mb-4">
    <label for="{{ field.id }}">PDF Annoted</label>
    <input type="file" class="form-control" id="{{ field.id }}" name="{{ field.name }}" accept=".pdf" multiple>
</div>

{% endmacro %}
