{% macro render_status_bedge(status) %}

{% if status == 'Approved' %}
<span class="badge text-bg-success">{{ status }}</span>
{% elif status == 'Submitted' %}
<span class="badge text-bg-primary">{{ status }}</span>
{% elif status == 'Requires changes' %}
<span class="badge text-bg-warning">{{ status }}</span>
{% elif status == 'Not Approved' %}
<span class="badge text-bg-danger">{{ status }}</span>
{% endif %}

{% endmacro %}

{% macro render_popover(desc, x) %}
<button type="button" class="btn btn-light border" data-bs-container="boy" data-bs-toggle="popover"
    data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="{{ desc }}">
    {{ x }}
</button>
{% endmacro %}

{% macro render_accordion_body(x) %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            {{ x.truncate_desc() }}
        </div>
    </div>
</div>

{% endmacro %}

{% macro render_accordion(x,type) %}
<div class="accordion-item border">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapse{{ x.pid }}" aria-expanded="false" aria-controls="flush-collapse{{ x.pid }}">
            {{ x.project_title }}

            <!-- For Spacing -->
            <div class="flex-grow-1"></div>

            {{ render_status_bedge(x.project_status) }}

            <!-- For Spacing -->
            <div class="mx-auto" style="width: 30px;"></div>
        </button>
    </h2>
    <div id="flush-collapse{{ x.pid }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushProject">

        <div class="accordion-body" style="overflow-wrap: break-word;">
            {{ render_accordion_body(x) }}
        </div>
        {% if type == 'researcher' %}
        <div class="btn-group" role="group" aria-label="Actions">
            <button onclick="window.location.href='{{ url_for('project.view', vid=x.vid) }}'" type="button"
                class="btn btn-primary">View</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        {% else %}
        <div class="btn-group" role="group" aria-label="Actions">
            <button onclick="window.location.href='{{ url_for('project.view', vid=x.vid) }}'" type="button"
                class="btn btn-primary">View</button>
            <button onclick="window.location.href='{{url_for('project.note',vid=x.vid)}}'" type="button"
                class="btn btn-warning">Add Note</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_accordions(field,type) %}

<div class="accordion accordion-flush" id="accordionFlushProject">
    {% for x in field %}
    {{ render_accordion(x,type) }}
    {% endfor %}
</div>

{% endmacro %}


{% macro render_accordion_no_button(name,pdf,vis) %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary"
    onclick="window.location.href='{{ url_for('project.pdf', pdf_name = name,vis=vis) }}'">
    {{ name }}
</button>
{% endmacro %}
