{% extends "base.html" %}
{% from "form_components/_render_field.html" import render_multiple_file_field %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="mb-3">
                <h2 class="display-8 fw-bold mb-2">Edit project <span class="badge bg-warning text-dark">Draft</span></h2>
                <p class="display-8 mb-5">Please provide a title, a descriprion and as many PDFs you desire.</p>

                <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {{ form.hidden_tag() }}


                    <div class="form-group mb-4">
                        {{ form.title(class="form-control", placeholder="Title", id="title", required=True) }}
                        <div class="invalid-feedback">
                            Please provide a valid title.
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        {{ form.description(class="form-control", placeholder="Description", id="description", rows="7", required=True) }}
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>

                    <!-- Add pdfs -->
                    <div id="file-fields">
                        {% for link, name in pdfs.items() %}
                        <div class="form-group file-group">
                            <label for="file-{{ loop.index }}">PDF File {{ loop.index }}:</label>

                            {% if name %}
                            <input class="existing-name" type="text" id="name-{{ loop.index }}" name="names" value="{{ name }}">
                            {% else %}
                            <input type="file" id="file-{{ loop.index }}" name="files">
                            {% endif %}

                            <button class="remove-file-btn" type="button">-</button>
                        </div>
                        {% endfor %}
                    </div>

                    <button id="add-file-btn" type="button">+</button>
                    <br><br>
                    <button id="submit-draft" type="button">Submit Draft</button>
                    <button id="submit-project" type="button">Apply Draft to Project</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function() {

     // Retrieve project data from the server-side template variable
     var fileCount = {{ counter}};

     $('#add-file-btn').click(function(e) {
         e.preventDefault();

         var fileField = $('<div class="form-group file-group">' +
                           '<label for="file-' + fileCount + '">PDF File ' + fileCount + ':</label>' +
                           '<input type="file" id="file-' + fileCount + '" name="files">' +
                           '<button class="remove-file-btn" type="button">-</button>' +
                           '</div>');

         $('#file-fields').append(fileField);
                ++fileCount;
     });

     $('#file-fields').on('click', '.remove-file-btn', function(e) {
         e.preventDefault();

         $(this).closest('.file-group').remove();
     });

     $('#submit-draft').click(function(e) {
         e.preventDefault();

         var title = $('#title').val();
         var description = $('#description').val();
         var names = $('#input[name="names"]');
         var files = $('input[name="files"]');

         // Todo
         // Check if at least one file is selected
         // if (names.length === 0 && files.length === 0) {
         //     alert('Please upload at least one file.');
         //     return;
         // }
         //

         var formData = new FormData();
         formData.append('title', title);
         formData.append('description', description);

         $('.existing-name').each(function() {
            console.log($(this).val())
             formData.append('names', $(this).val() + '.pdf');
         });

         for (var i = 0; i < files.length; i++) {
             formData.append('files', files[i].files[0]);
         }

         $.ajax({
             url: "{{ url_for('project.edit_draft', vid=vid) }}",
             type: 'POST',
             data: formData,
             contentType: false,
             processData: false,
             success: function(response) {
                 alert('Form submitted successfully!');
                 window.location.href = "{{ url_for('project.edit', vid=vid) }}";
             },
             error: function(error) {
                 alert('Error submitting the form. Please try again.');
                 console.log(error);
             }
         });
     });


     $('#submit-project').click(function(e) {
         e.preventDefault();

         var title = $('#title').val();
         var description = $('#description').val();
         var names = $('#input[name="names"]');
         var files = $('input[name="files"]');

         // Todo
         // Check if at least one file is selected
         // if (names.length === 0 && files.length === 0) {
         //     alert('Please upload at least one file.');
         //     return;
         // }
         //

         var formData = new FormData();
         formData.append('title', title);
         formData.append('description', description);

         $('.existing-name').each(function() {
            console.log($(this).val())
             formData.append('names', $(this).val() + '.pdf');
         });

         for (var i = 0; i < files.length; i++) {
             formData.append('files', files[i].files[0]);
         }

         $.ajax({
             url: "{{ url_for('project.edit_draft', vid=vid) }}",
             type: 'POST',
             data: formData,
             contentType: false,
             processData: false,
             success: function(response) {
                 // Perform the second POST request
                 $.ajax({
                     url: "{{ url_for('project.update_version', vid=vid) }}",
                     type: 'POST',
                     success: function(response) {
                         // Handle the success of the second POST request
                         alert('Second request submitted successfully!');
                         window.location.href = "{{ url_for('project.projects') }}";
                     },
                     error: function(error) {
                         // Handle the error of the second POST request
                         alert('Error submitting the second request. Please try again.');
                         console.log(error);
                     }
                 });
             },
             error: function(error) {
                 alert('Error submitting the form. Please try again.');
                 console.log(error);
             }
         });
     });
 });
</script>
{% endblock %}
