<footer>
    <div class="container py-4 py-lg-5">
        <div class="row">
            <!-- Project Info -->
            <div class="col-12 col-md-4 mb-3">
                <div class="fw-bold d-flex align-items-center mb-2"><span>Paper Review</span></div>
                <p class="text-muted">Revolutionizing Paper Reviews, One Version at a Time.</p>
            </div>

            <!-- About Links -->
            <div class="col-12 col-md-4 mb-3">
                <h3 class="fs-6 fw-bold">About</h3>
                <div class="d-flex justify-content-start align-items-center">
                    <a class="me-3" href="{{ url_for('main.explaination') }}">Explanation</a>
                    <a href="{{ url_for('main.about') }}">Who We Are</a>
                </div>
            </div>

            <!-- GitHub Links -->
            <div class="col-12 col-md-4 mb-3">
                <span class="fs-6 fw-bold">Our Team</span>
                <div class="d-flex">
                    <a class="me-3" href="https://github.com/MacPapo">MacPapo</a>
                    <a class="me-3" href="https://github.com/CippoX">CippoX</a>
                    <a class="me-3" href="https://github.com/MrZhouDawei">MrZhouDawei</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">Copyright © 2023</p>
        </div>
    </div>
</footer>
