<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index') }}">
            <span>Project0</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.index') }}">Home</a></li>
            {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.about') }}">About</a></li>
            </ul>
            <a class="btn btn-primary shadow" role="button" href="{{ url_for('auth.login') }}">Login</a>
            <div class="dropdown ms-2">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Register
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('auth.register_researcher') }}">As Researcher</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.register_reviewer') }}">As Reviewer</a></li>
                </ul>
            </div>
            {% else %}

            <div class="dropdown">
                <a class="btn dropdown-toggle" type="button" id="dropdownMenuButtonProjects"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Projects
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonProjects">
                    <li><a class="dropdown-item" href="{{ url_for('project.projects') }}">Your Projects</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('project.create') }}">Add new Project</a></li>
                </ul>
            </div>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.about') }}">About</a></li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.fullname() }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('auth.profile', username=current_user.username()) }}">Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.edit_profile', username=current_user.username()) }}">Edit Profile</a></li>
                    <li><a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
