<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
            <span>Project0</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="{{ url_for('about') }}">About</a></li>
            </ul>
            {% if current_user.is_anonymous %}
            <a class="btn btn-primary shadow" role="button" href="{{ url_for('login') }}">Login</a>
            <a class="btn btn-danger shadow" role="button" href="{{ url_for('register') }}">Register</a>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ current_user.researcher_fullname() }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
