<div class="card-group">
    <div class="card">
        <img src="https://avatars.githubusercontent.com/u/23579426?v=4" class="card-img-top" alt="Jacopo Costantini profile image">
        <div class="card-body">
            <h5 class="card-title">Jacopo Costantini</h5>
            <p class="card-text">Love coding...</p>
        </div>
    </div>
    <div class="card">
        <img src="https://avatars.githubusercontent.com/u/62521219?v=4" class="card-img-top" alt="Tommaso Palmisano profile image">
        <div class="card-body">
            <h5 class="card-title">Tommaso Palmisano</h5>
            <p class="card-text">Love coding...</p>
        </div>
    </div>
    <div class="card">
        <img src="https://avatars.githubusercontent.com/u/100377957?v=4" class="card-img-top" alt="Dawei Zhou profile image">
        <div class="card-body">
            <h5 class="card-title">Dawei Zhou</h5>
            <p class="card-text">Love coding...</p>
        </div>
    </div>
</div>
