{% extends "base.html" %}
{% from "form_components/_render_field.html" import render_field, render_submit_button, render_radio_field %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-fluid w-100" src="{{ url_for('static', filename='assets/img/illustrations/register.svg') }}">
            </div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Edit Profile</strong></span></h2>
                <form action="" method="post">
                    {{ form.hidden_tag() }}

                    {{ render_field(form.first_name) }}
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.birthdate) }}
                    {{ render_field(form.nationality) }}
                    {{ render_radio_field(form.sex) }}

                    {{ render_submit_button(form.submit) }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
