{% extends 'base.html' %}

{% block content %}

<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><img class="img-fluid" src="static/assets/img/illustrations/meeting.svg" style="width: 800px;"></div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
