{% extends "base.html" %}
{% from "form_components/_render_field.html" import render_field %}
{% from "form_components/_redirect_auth.html" import render_redirect_auth %}

{% block content %}
    <section class="py-4 py-md-5 my-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-md-6 text-center"><img class="img-fluid w-100" src="{{ url_for('static', filename='assets/img/illustrations/login.svg') }}"></div>
                <div class="col-md-5 col-xl-4 text-center text-md-start">
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Login</strong><br></span></h2>
                    <form action="" method="post" class="needs-validation" novalidate>
                        {{ form.hidden_tag() }}

                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}

                        <div class="mb-3">
                            {{ form.remember_me.label }}
                            {{ form.remember_me() }}
                        </div>

                        <div class="mb-5">
                            {{ form.submit() }}
                        </div>
                    </form>
                    {{ render_redirect_auth(desc=["Don't have an account?", "Sign up"], route='auth.register') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
