{% extends 'base.html' %}
{% from "projects_components/_projects_accordion.html" import render_status_bedge,render_accordion_no_button %}
{% from "form_components/_render_field.html" import render_newmultiple_file_field,render_submit_button %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col">
                <h2>Add Notes {{ version.project_title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Created {{ version.time_since_creation() }}</p>
            </div>
            <div class="col">
                <p>Updated {{ version.time_since_update() }}</p>
            </div>
            <div class="col">
                Status {{ render_status_bedge(version.project_status) }}
            </div>
        </div>
        {% for pdf, name in pdfs %}
            {{ render_accordion_no_button(name,pdf,version.vid) }}
        {% endfor %}
        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            {{ render_newmultiple_file_field(form.newpdfs) }}
            {{ render_submit_button(form.sumbit) }}
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
</script>
{% endblock %}
