<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="App" />
    <meta name="keywords" content="App" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} - project0</title>

    {% block styles %}
    {% endblock %}
    {% block content %}
</head>

<body style="margin: 0px">
    <div id="adobe-dc-view"></div>
    <script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
    <script type="text/javascript">
        document.addEventListener("adobe_dc_view_sdk.ready", function () {
            var adobeDCView = new AdobeDC.View({ clientId: "7b3fa4b76de4458ea63535ac28f82dde", divId: "adobe-dc-view" });
            adobeDCView.previewFile(
                {
                    content: { location: { url: "{{ path  }}" } },
                    metaData: { fileName: "prova.pdf" }
                });
        });
    </script>
</body>
{% endblock %}
{% block scripts %}
{% endblock %}

</html>
