{% extends "base.html" %}
{% from "projects_components/_projects_accordion.html" import render_accordions %}

{% block content %}

<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            {% if role="researcher"%}
            {% if projects %}
            <h2 class="text-center mb-4">Your projects</h2>
            {{ render_accordions(projects) }}
            {% else %}
            {% else %}
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">No projects yet!</h4>
                    <p>You don't have any projects yet. Create one by clicking the button below.</p>
                    <hr>
                    <a href="{{ url_for('project.create') }}" class="btn btn-primary">Create project</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}
