{% extends 'base.html' %}
{% from "projects_components/_projects_accordion.html" import render_status_bedge %}
{% from "projects_components/_project_info.html" import render_info, render_pdfs, render_user, render_user_for_comments %}
{% from "form_components/_render_field.html" import render_field, render_submit_button %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        {{ render_info(project.versions[version_number - 1]) }}

        <hr class="hr" />
        <br>
        
        {{ render_pdfs(get_pdf_lambda(project.versions[version_number - 1].contains)) }}

        <!-- For Spacing -->
        <div class="mx-auto" style="height: 125px;"></div>

        <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
        <br>

        {% for comment in comments %}
        <div>
            {{ render_user_for_comments(comment.user, comment, version_number, comment.version_ref, comment.anonymous) }}

             <!-- For Spacing -->
            <div class="mx-auto" style="height: 20px;"></div>

            {{ comment.body }}
            
            {% if not loop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}

       <!-- For Spacing -->
       <div class="mx-auto" style="height: 75px;"></div>
    

        <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
          {{ form.hidden_tag() }}
         
          <div class="form-group mb-4">
              {{ form.body(class="form-control", placeholder="Write a comment", rows="7", required=True) }}

                <!-- For Spacing -->
                <div class="mx-auto" style="height: 25px;"></div>

                <div class="form-check mb-4">
                    
                    {{ form.is_anonymous(class="form-check-input") }}
                    <label class="form-check-label" for="{{ form.is_anonymous.id }}">Anonymous comment</label>
                </div>
           </div>
          {{ form.submit(class="btn btn-primary") }}
      </form>
        
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
  myInput.focus()
})
</script>
{% endblock %}
