{% extends "base.html" %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <embed
            src="https://firebasestorage.googleapis.com/v0/b/paperreview-f9016.appspot.com/o/files%2Fuploads%2F02_Cache-2023-04-29-11%3A59%3A04.pdf?alt=media&token=4f727920-c077-4efd-b706-6d1747ab9009"
            type="application/pdf"
            frameBorder="0"
            scrolling="auto"
            height="600"
            width="100%"
        ></embed>
    </div>
</section>
{% endblock %}
