Flask
Flask-SQLAlchemy
Flask-Migrate
flask-login
flask-script
flask-debugtoolbar
flask-wtf
psycopg2-binary
Werkzeug
email-validator
wtform_address
cryptography
requests_toolbelt==0.9.1
pyrebase4
Flask-Bootstrap
wtforms-components
datetime
phonenumbers
