  <div class="card mb-3 shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-sm-9">
          {{ user.fullname() }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9">
          {{ user.email }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Phone</h6>
        </div>
        <div class="col-sm-9">
          {{ user.phone }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Birth date</h6>
        </div>
        <div class="col-sm-9">
          {{ user.format_birth_date() }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Sex</h6>
        </div>
        <div class="col-sm-9">
          {{ user.sex }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Nationality</h6>
        </div>
        <div class="col-sm-9">
          {{ user.nationality }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-info">
          <h6 class="mb-0">Department</h6>
        </div>
        <div class="col-sm-9">
          {{ user.department }}
        </div>
      </div>

    </div>
  </div>
